@-moz-document url-prefix("https://navitasltd.atlassian.net/secure/RapidBoard") {
@media (orientation:portrait) {
    #ghx-work, #ghx-plan-group {
        height: calc(100% - 40px) !important;
        display: flex;
        flex-direction: column;
    }
    #ghx-plan-group {
        height: 100% !important;
    }
    #ghx-detail-view {
        width: auto !important;
        display: flex;
    }
    #ghx-pool-column,
    #ghx-backlog-column {
        width: auto !important;
        overflow: hidden;
        display: flex;
    }
    #ghx-pool-column + #ghx-detail-view:empty {
        height: 100%;
    }
    #ghx-rabid {
        height: calc(100vh - 148px);
    }
    #ghx-pool,
    #ghx-detail-contents,
    #ghx-backlog {
        height: 100%;
        width: 100%;
    }
    #ghx-detail-contents {
        border-left: none;
        border-top: 2px solid #ccc;
    }
    #ghx-detail-head {
        width: calc(100% - 20px);
    }
    #ghx-classification-menu-column {
        display: none;
    }
}
}